.navbarStyle{
    width: 100%;
    height: 100px;
}
.LGlogo{
    width: 100px;
    height: 90px;
    margin-left: 25px;
}          
  .navbarStyle {
    width: auto;
    background-image: linear-gradient(to right, #2C3E50 0%, #4CA1AF  51%, #2C3E50  100%);
    margin: 10px !important;
    background-color: transparent;
    backdrop-filter:blur(8px);
    padding: 10px !important;
    padding-bottom: 10px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px !important;
    display: flex;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navbarStyle:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
  .navBrand{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .NavbarHeading{
    margin-left: -10px;
    background:   linear-gradient(to right, #6A82FB, #FC5C7D);
    background-clip: text;
    color: transparent;
    font-size: 40px;
    font-family:Dangrek, sans-serif;
  }

  .navSubHeading{
    color: #fbd786;
  }
  

  .my-navbar-toggler
 {
    outline: none !important;
    border: none !important;
    box-shadow: none;
   
}

.my-navbar-toggler:focus
{
    outline: none!important;
    border: none !important;
    box-shadow: none !important;
}
.navToggle
{
    width: 70px;
    height: 70px;
} 
.navMenu
{
    width: auto;
    height: auto;
    align-items: center;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px !important;
}
.dropdown{
  padding: 0px !important;
}
.navbarToggle{
  width: auto;
}
/* .dropDownMenu {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #FF69B4 !important;
  border-radius: 16px;
  border: 2px solid #213454;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.0);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5.2px);
} */

.dropMenu {
  width: auto !important;
  height: auto;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px !important;
  gap: 10px;
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  color: white !important; 
}
/* background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);  */

.dropMenuButton {
  width: 150px !important;
  background-color: transparent !important ;
  backdrop-filter: blur(0.2px) !important;
  border: 1px solid #213454;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  color: #fbd786 !important;            
  display: block;
  font-family:Dangrek, sans-serif;
  background-repeat: 1;

}

.dropMenuButton:hover {
  color:#eee !important;
  box-shadow: 0 0 40px #eee !important;
  padding: none !important;

  text-decoration: none;
}
.dashbordDropDown{
  width:100px;
}
/* .dropMenuButton {
  width: 150px !important;
  background-image: linear-gradient(to right, #FF69B4 0%, #2980b9  51%, #7f7fd5  100%) !important;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fbd786 !important;            
  box-shadow: 0 0 20px #eee !important;
  border-radius: 10px !important;
  display: block;
  font-family:Dangrek, sans-serif;

}

.dropMenuButton:hover {
  background-position: right center; 
  color: #fbd786;
  text-decoration: none;
}  */

.menuLink{
  color: #fbd786;
  background-color: transparent !important;
}
/* .menuLink:hover{
  background: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%); 
  background-clip: text;
  color: transparent;
} */
.navItems{
  width: auto;
  color: #fbd786 !important;
  padding: 10px;
  text-decoration: none !important;
  font-family: Nova Square, sans-serif;
  border-radius: 10px;
  position: relative;
  
}



.navItems::after{
  content: '';
  position:absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%); 
  transition: all ease 0.5s;
}

.navItems:hover::after{ 
  width: 100%;
  box-shadow: 0 0 20px aqua;
  
}


/* .navItems::before{
  content: '';
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: linear-gradient( 135deg, #C2FFD8 10%, #465EFB 100%); 
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: -1;
  transform-origin: left;
}

.navItems:hover::before{
  transform: scaleX(1);
  orientation: left;
  box-shadow: 0 0 20px aqua;
  
} */



.menuButton{
  width: auto;
  background-color: transparent !important;
  outline: none!important;
  border: none !important;
  box-shadow: none !important;
}

.menuBrand{
  width: auto;
  margin-top: 20px;
}

.userIcon{
  color: #213454;
}

.userName{
  font-family: Nova Square;
  font-size: 20px;
  color:#fbd786 ;
}

.userIcon:hover,
.userIcon:hover + .userName{
  color: aqua;
  text-shadow: 0 0 40px aqua;
}

 @media screen and (max-width: 768px) {
  .NavbarHeading{
   font-size: 25px;
  }
  .LGlogo{
     width: 50px;
     height: 60px;
     margin-left: -20px;
  }
 .navbarStyle{
  width: 750px;
 }
 }

 @media screen and (max-width: 480px) {
  .NavbarHeading{
   font-size: 25px;
  }
  .LGlogo{
     width: 50px;
     height: 60px;
     margin-left: -20px;
  }
 .navbarStyle{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
 }

@media screen and (max-width: 320px) {
  .NavbarHeading{
   font-size: 22px;
  }
  .LGlogo{
     width: 50px;
     height: 60px;
     margin-left: -20px;
  }
 .navbarStyle{
  width: 290px;
  padding: 5px;
  height: 80px;
}
}


         
    

