.menuNavbar{
    display: flex;
    justify-content: center; 
    gap:10px;
    background-image: linear-gradient( 86.3deg,  rgba(0,119,182,1) 3.6%, rgba(8,24,68,1) 87.6% );
    border-radius: 15px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    padding: 15px;
}
.menuNav{
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
    border-radius: 10px;
    border-color: azure;
    padding: 10px;
    color: bisque;
    text-decoration: none;
}
.menuNav:hover{
    box-shadow: 0px 0px 20px white;
}
@media (max-width: 480px) { 
    .menuNavbar{
        display: flex;
        flex-direction: column;
    }
  }



@media (max-width: 320px) { 
    .menuNavbar{
        display: flex;
        flex-direction: column;
    }
  }
 
 