
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Happy+Monkey&family=Kaushan+Script&family=Nova+Square&family=Open+Sans:ital,wght@0,400;1,800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Dangrek&family=Happy+Monkey&family=Kaushan+Script&family=Nova+Square&family=Open+Sans:ital,wght@0,400;1,800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.appBody{
    margin-top: 120px;
    padding: 20px;
}

.menuBar{
    margin-top: 20%;
    position:  relative;
    height: fit-content;
}
.lgMenu{
    
    height: auto;
    margin-top: 10px !important;
    position: fixed;
    z-index: 1;
}

.MenuBarHeading
{
    color: #162237;
    font-size: 20px;
    font-weight: bold;
}

/* home Page */

.homeBody{
    border-radius: 10px;
    /* box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin-top: 80Px;
    margin-left: auto;
    margin-right: auto;
}


.mainTitle
{
    font-family: Dangrek !important;  
    padding: 10px;
    
}




.titleContainer{
    width: 650px;
    font-family:Nova Square;
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
}
.titleText{
    font-size: 20px;
    color: #093637; 
    

}

.mainHeading {
    font-size: 120px;
    /* font-family:Dangrek; */
    font-weight: bold;
    background:   linear-gradient(to right, #6A82FB 0%, #FC5C7D  51%, #6A82FB  100%);
    background-clip: text;
    color: transparent;
    row-gap: 0;
    transition: 0.5s; 
    background-size: 200% auto;
    /* /* display: block; */
}

.mainHeading:hover {
    background-position: right center;
    color:transparent;
    text-decoration: none;
}

    
.titleIntro{
    padding: 40px;
    width: 500px;
    color: #3a6186;
}
.lgIntro{
    font-family: Teko !important;
    font-size: 25px;
    text-align: justify;
}



@media (max-width: 1024px) {
    .titleContainer{
        width: 650px;
        display: flex;
        flex-direction: column;
        background: transparent;
        padding: 20px;
    }
    .titleText{
        font-size: 25px;
        color: #093637;  
    }
    
    .mainHeading {
        font-size: 100px;
    }
    
    .titleIntro{
        padding: 20px;
        width: 350px;
    }
    .lgIntro{
        font-size: 25px;
    }
  
  }


  @media (max-width: 900px) { 
    .titleContainer{
        width: 500px;
        display: flex;
        flex-direction: column;
        background: transparent;
        padding: 20px;
    }
    .titleText{
        font-size: 20px;
        color: #093637;  
    }
    
    .mainHeading {
        font-size: 90px;
    }
    
    .titleIntro{
        padding: 20px;
        width: 350px;
    }
    .lgIntro{
        font-size: 24px;
    }
  
  }
  @media (max-width: 768px) { 
    .titleContainer{
        width: 450px;
        display: flex;
        flex-direction: column;
        background: transparent;
        padding: 10px;
    }
    .titleText{
        font-size: 20px;
        color: #093637;  
    }
    
    .mainHeading {
        font-size: 80px;
    }
    
    .titleIntro{
        padding: 20px;
        width: 280px;
    }
    .lgIntro{
        font-size: 20px;
        font-weight: 0;
    }
  }
  @media (max-width: 480px) { 
    .homeBody{
        display: flex;
        flex-direction: column;
    }
    .titleContainer{
        width: 450px;
        display: flex;
        flex-direction: column;
        background: transparent;
        padding: 10px;
    }
    .titleText{
        font-size: 15px;
        color: #093637;  
    }
    
    .mainHeading {
        font-size: 50px;
    }
    
    .titleIntro{
        padding: 10px;
        width: 450px;
    }
    .lgIntro{
        font-size: 20px;
    }
    .lgMenu{
        margin-left: -20px;
        font-size: 15px;
    }
    .MenuBarHeading
    {
    color: #162237;
    font-size: 15px;
    font-weight: none;
    }
  }

  @media (max-width: 320px) { 
    .homeBody{
        display: flex;
        flex-direction: column;
        
    }
    .titleContainer{
        width: 280px;
        display: flex;
        flex-direction: column;
        background: transparent;
        padding: 10px;
    }
    .titleText{
        font-size: 15px;
        color: #093637;  
    }
    
    .mainHeading {
        font-size: 40px;
    }
    
    .titleIntro{
        padding: 10px;
        width: 280px;
    }
    .lgIntro{
        font-size: 15px;
    }
    .lgMenu{
        margin-left: -20px;
        font-size: 15px;
    }
    .MenuBarHeading
    {
    color: #162237;
    font-size: 15px;
    font-weight: none;
    }
  }